{% extends 'base.html' %} {% load static %} {% block title %} Heartbeat - About {% endblock title %} {% block aboutactive %} active {% endblock aboutactive %} {% block body %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <p>
                    We are a team named Nexus of 6 members,on a mission to provide a Healthcare Solutions to the Society.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Instant prediction of diseases.</li>
                    <li><i class="ri-check-double-line"></i> Providing almost 98% accurate solution.</li>
                    <li><i class="ri-check-double-line"></i> Reccomendations for the steps to be taken for the cause.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <p>
                    We have been working on this Project since 6 months from now.And implenting it in a better way so that each and everyone in our Society can get a better idea of what may be happened to their health,and taking further steps accordingly.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section>
<!-- End About Us Section -->
{% endblock body %}