{% extends 'base.html' %} {% load static %} {% block title %} Heartbeat - About {% endblock title %} {% block faqactive %} active {% endblock faqactive %} {% block body %}
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Can the system detect the disease accurately?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    The system designed will detect the disease to an accuracy level of 98%.
                </p>
            </div>
        </div>
        <!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Can it also provide recommendations?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    The system will also provide the best suited recommendation for the patient undergoing that specific disease.
                </p>
            </div>
        </div>
        <!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>How can the details of the disease shown?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    The predicted disease will be displayed in a tabular form.
                </p>
            </div>
        </div>
        <!-- End F.A.Q Item-->

    </div>
</section>
<!-- End F.A.Q Section -->
{% endblock body %}